.alumni-container {
  width: 85%;
  margin: auto ;
  padding: 50px 0;
}

.title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 32px;
  color: #1e3a8a;
}

.alumni-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  background: #f5f7fa;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(14, 20, 175, 0.08);
  border: 2px solid  #16328d;
  gap: 20px;
}

.alumni-card.reverse {
  flex-direction: row-reverse;
}

.alumni-image img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #16328d;
}

.alumni-content {
  flex: 1;
  padding: 0 30px;
}

.alumni-content h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #111;
}

.alumni-content h4 {
  color: #16328d;
  margin-bottom: 8px;
}

.year {
  font-weight: bold;
  margin-bottom: 10px;
}

.btn-container {
  text-align: center;
}

.more-btn {
  padding: 10px 24px;
  font-size: 14px;
  background: #16328d;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
  
}

.more-btn:hover {
  background: #2563eb;
}
#linkedin{
  margin-left: 10px;
}

/* Responsive */
@media (max-width: 768px) {
  .alumni-card {
    flex-direction: column;
    text-align: center;
  }

  .alumni-card.reverse {
    flex-direction: column;
  }

  .alumni-content {
    padding: 20px 0;
  }

  .alumni-image img {
    width: 180px;
    height: 180px;
  }
}