.dashboard {
  display: flex;
  background: #f5f6fa;
  min-height: 100vh;
}

.main {
  flex: 1;
  padding: 20px;
  margin-left: 240px;
  overflow-y: auto;
  height: 100vh;
}

.cards {
  display: flex;
  gap: 20px;
}

.content {
  display: flex;
  gap: 20px;
}

.left {
  flex: 2;
}

.right {
  flex: 1;
}